.screen{
    margin-top: 20px;
    background-color: aquamarine;
    height: 80px;
    margin-bottom: 30px;
}
.first{
    margin-top: 20px;
    /* background-color: aquamarine; */
    margin-bottom: 30px;
}
input{
    width:100%
}

.second{
    margin-top: 20px;
    /* background-color: aquamarine; */
    margin-bottom: 30px;
}
.container{
    text-align: center;
    
    
}
#them{
    border: 3px solid black;
    border-radius: 20px;
    background-image: linear-gradient(to right, #141211,rgb(109, 104, 104), #0a0707);
    color:white
   
}
.calc{
    margin-bottom: 20px;
    border-radius: 10px;
}
#div{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.479);
    border: 3px solid black;
    padding: 10px;
}
    